page-login {

  .login-content {
    background: #ffffff;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    #appname{
    width: 200%;
    height: 200%;
    }

    .login-box {
      background: #ffffff;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         font-size: 0.9em;
     }

     .signup-col {
     }


     .submit-btn {
       background: #000080;
     }

     .register-btn {
       color: #000080;
       font-size: 0.8em;
     }
  }

}
